/* Colores personalizados */
body {
    background-color: #d1d1d1;
}

.bg-primary {
    background-color: #023047 !important;  /* Azul oscuro */
}

.btn-outline-secondary {
    color: #fb8500;  /* Coral */
    border-color: #fb8500;
}

.btn-outline-secondary:hover {
    background-color: #fb8500;
    color: #fff;
}

/* Efecto hover para las tarjetas */
.article-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.article-card:hover {
    transform: scale(1.03);  /* Efecto de agrandamiento */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);  /* Sombra al pasar el ratón */
}

.card-title a {
    transition: color 0.3s ease;
}

.card-title a:hover {
    color: #fb8500;  /* Coral en el hover */
}

footer {
    background-color: #313131;
}
